/* box-sizing allow us to element or div, add paddings and border to elements or div height and width, without box sizing we have only width and height  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.6rem;
  margin: 2rem;
}

div {
  border: solid red;
  box-sizing: border-box;
}

.box1 {
  display: block; /* Display - block and by default is inline */
  width: 300px;
  height: 100px;
  border: 1px solid blue;
  /* box-sizing: border-box; */
}

.box2 {
  width: 300px;
  height: 100px;
  padding: 50px; /* we 2boxes of same height and width, but if we add padding size is changed, to avoid it we can use box-sizing property */
  border: 1px solid red;
  /* box-sizing: border-box; */
}

a {
  display: block;
  text-decoration: none;
}

a img {
  height: 30px;
  border-radius: 50%;
}

span.a {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 5px solid blue;
  background-color: yellow;
}
